<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash</title>
    <!-- CSS and JS will be loaded by the parent page -->
</head>
<body>

    <!-- Navbar -->
    <div class="nav-bar">
        <div style="display: flex;">
        <button class="header__hamburger" aria-label="Open menu" style="margin-right:20px;">
            <img src="/assets/images/menu-icon.svg" alt="Menu" class="header__hamburger-icon">
        </button>
            <a href="/index.html" class="nav-title" style="font-size: 30px;">🌊 <span style="margin-left:5px ;">Splash</span></a>
    </div>

        <div class="nav-links">
            <a href="/map.html" class="nav-item" id="map-link"><i style="margin-right: 5px;">📍</i> Map</a>
            <a href="/parking.html" class="nav-item" id="parking-link"><i style="margin-right: 5px;">🅿️</i> Parking</a>
            <a href="/reports.html" class="nav-item" id="reports-link"><i style="margin-right: 5px;">👥</i> Reports</a>
            <a href="/emergency.html" class="nav-item" id="emergency-link"><i style="margin-right: 5px;">📞</i> Emergency</a>
        </div>
    </div>

</body>
</html>
